<table>
    <tr>
        <th>Argumentos de entrada</th>
        <th>{{argsEnt}}</th>
    </tr>
    <tr>
        <th>Nombre de la plataforma(sistema operativo)</th>
        <th>{{nomPlat}}</th>
    </tr>
    <tr>
        <th>Versión de Node.js</th>
        <th>{{verNode}}</th>
    </tr>
    <tr>
        <th>Memoria total reservada (rss)</th>
        <th>{{memToRev}}</th>
    </tr>
    <tr>
        <th>Path de ejecucción</th>
        <th>{{pathExe}}</th>
    </tr>
    <tr>
        <th>Process Id</th>
        <th>{{procId}}</th>
    </tr>
    <tr>
        <th>Carpeta del proyecto</th>
        <th>{{carProy}}</th>
    </tr>
</table>